body {
  background: #aba6fc;
  color: #444;
}
.container {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
  background: white;
}
.error {
  color: #ff3f80;
  font-size: 14px;
}
button {
  text-decoration: none;
  background: #4672e9;
  color: rgb(240, 240, 240);
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  padding: 12px 24px;
  cursor: pointer;
}
button:hover {
  background: #1d554b;
  transition: 0.4s;
  transform: scale(1.1);
}
input:focus {
  color: black;
}
input::placeholder {
  color: rgb(126, 126, 126);
}
